@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Raleway:wght@100;300;400;500;600;700&display=swap");

:root {
  --red: #aa0032;
  --hover-red: #d50040;
  --blue: #003b72;
  --yellow: #f6b349;
  --border-gray: #003b7217;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--red);
  max-width: 100%;
  margin: 0;
}
.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0em;
  padding-bottom: 1em;
  background-color: white;
}

.nav-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em;
}

.tab-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  width: 100%;
}

.tab-list > * {
  margin-bottom: 1em;
  padding: 0.4em;
  border-radius: 2px;
  width: 50%;
  text-align: center;
  background-color: var(--red);
  color: white;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid --border-gray;
}

.tab-list > *:hover {
  background-color: var(--hover-red);
  transform: scale(1.05);
  cursor: pointer;
}

.company-name {
  color: var(--red);
  text-align: center;
}

.nav-icon {
  width: auto;
  max-width: 100%;
}

#content {
  background: white;
  padding: 1em;
}

.global-address-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
}

.global-address-container > * {
  margin: 0.5em;
}

.global-schedule-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em 2em 0 0;
}

.global-schedule-week-days-list {
  list-style: none;
  font-weight: 500;
}

.global-schedule-time-list {
  list-style: none;
}

footer {
  width: 100%;
  background-color: var(--red);
  height: 2vh;
  text-align: end;
  color: white;
  font-size: 0.8em;
}

@media only screen and (min-width: 1690px) {
  .nav {
    width: 60%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-header {
    margin: 0;
    width: 45%;
  }
  .tab-list {
    flex-direction: row;
    width: 55%;
    margin: 0;
    justify-content: space-evenly;
  }

  .tab-list > * {
    width: max-content;
    padding: 0.5em 1em;
    margin: 0;
  }
  #content {
    width: 60%;
    margin: 0 auto;
    padding: 0;
  }
}
