.home-container {
  background-color: white;
  padding: 1em;
}

.home-description-container {
  text-align: center;
}

.home-description {
  font-size: 18px;
}

.home-image {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.home-address-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
}

.home-address-container > * {
  margin: 0.5em;
}

@media only screen and (min-width: 1690px) {
  .home-image {
    display: block;
    width: auto;
    margin: 0 auto;
  }

  .home-container {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
  }
}
