.home-container {
}

.home-header-container {
  text-align: center;
  margin-bottom: 1.7em;
}

.home-description {
  font-size: 18px;
}

.home-image {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.24);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home-delivery-message-container {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: var(--blue);
  font-weight: 600;
}

@media only screen and (min-width: 1690px) {
  .home-image {
    display: block;
    width: auto;
    margin: 0 auto;
  }

  .home-container {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
  }
}
