.menu-item-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 80%;
}

.menu-list-item {
  width: 100%;
}

.menu-option-item {
  font-style: italic;
  font-size: 14px;
}

.menu-sub-category-description {
  font-size: 12px;
}

.menu-item-description {
  font-size: 10px;
}

.menu-item-list > * {
  margin: 0.2em;
}

.menu-option-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin-top: 0.6em;
  width: 80%;
}
