#content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu-title {
  text-align: center;
  text-decoration: underline;
  color: #f6b349;
  width: 50%;
  margin: 0 auto;
  padding: 0.2em;
  margin-bottom: 1em;
}

.menu-container {
  background-color: white;
}

.menu-follow-container {
  position: fixed;
  display: block;
  z-index: 9999;
  width: 100%;
  top: 0;
}

.menu-toggle-btn {
  margin: 1em 0 1em 80%;
  color: white;
  background-color: #aa0032;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  opacity: 0.8;
}

.menu-nav-container {
  position: absolute;
  width: auto;
  color: white;
  background-color: #aa0033ce;
  left: 12%;
}

.hidden {
  display: none;
}

.dimmed {
  opacity: 0.4;
}

.menu-nav-list {
  list-style: none;
  font-weight: 700;
}

.menu-nav-item {
  padding: 0.4em;
  text-decoration: underline;
}

.menu-nav-link {
  color: white;
}

.menu-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.menu-category-header {
  margin: 0.5em 0;
  margin-left: 1em;
  color: #003b72;
}
.menu-item-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 80%;
  padding-left: 1em;
}

.menu-list-item,
.menu-option-item {
  font-weight: 600;
}

.menu-list-item {
  width: 100%;
  border-bottom: 1px solid #003b7217;
  margin-right: 0;
  padding-bottom: 0.4em;
}

.menu-item-price {
  border-bottom: 1px solid #003b7217;
  margin-left: 0;
  padding-bottom: 0.4em;
}

.menu-option-price,
.menu-item-price {
  font-family: "Lato", sans-serif;
  color: black;
  font-weight: 400;
}

.menu-option-item {
  font-size: 14px;
  list-style: circle;
  font-weight: 300;
}

.menu-sub-category-header {
  margin: 0.5em 0;
  margin-left: 2em;
  color: #003b72;
  font-style: bold;
}

.menu-sub-category-description {
  font-size: 12px;
  width: 90%;
}

.menu-item-description {
  font-size: 10px;
  margin: 0.2em 0;
  font-weight: 600;
  color: #aa0032;
}

.menu-option-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin-top: 0.2em;
  width: 80%;
}

@media only screen and (min-width: 1690px) {
  #content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menu-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 1050px;
  }

  .menu-category-header {
    margin-left: 2em;
  }

  .menu-nav-container {
    background-color: var(--red);
    width: auto;
    left: 0;
  }

  .menu-follow-container {
    position: fixed;
    display: block;
    z-index: 9999;
    top: 20%;
    left: 2%;
  }

  .hidden {
    display: block;
  }

  .menu-toggle-btn {
    display: none;
  }

  .menu-nav-list {
    font-weight: 600;
  }

  .menu-nav-item:hover {
    transform: scale(1.02);
  }
}
